@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #969696;
}
.wrapper {
  user-select: none;
  height: 500px;
  width: 550px;
  border-radius: 50%;
  background-color: #24769c;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 60px #000000;
  flex-direction: column;
}
.logo h2 {
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  text-shadow: 7px 7px 10px #030303;
}
.wrapper .time {
  height: 100px;
  background-color: #f4f4f4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.wrapper .time span {
  width: 70px;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  color: #333333;
}
.time span .colon {
  width: 10px;
}
.time span.ms-colon,
.time span.millisecond {
  color: #24769c;
}
.buttons {
  margin-top: 40px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons button {
  height: 45px;
  width: 80px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  box-shadow: 0 0 5px;
}
.buttons button:hover {
  background: #fff;
  color: #24769c;
  transition: 0.5s ease;
}
